**/__pycache__/
3d_reconstruction/data/
**/*.obj
**/*.pt
3d_reconstruction/**/*.png
3d_reconstruction/training/checkpoints/
**/logs/
**/*.sbatch
!3d_reconstruction/data_precomputation/extract_dataset.sbatch
**/*.sif
**/*.def
3d_reconstruction/training/results
3d_reconstruction/training/debug
3d_reconstruction/training/architecture
instructions
.vscode
**/viz_and_tests
**/tests
**/.vscode
**/extract_dataset.py
**/extract_dataset.sbatch