**/__pycache__/
3d_reconstruction/data/
**/*.obj
**/*.pt
**/*.png
3d_reconstruction/training/checkpoints/
**/logs/
**/*.sbatch
**/*.sif
**/*.def
3d_reconstruction/training/results
3d_reconstruction/training/debug