**/__pycache__/
3d_reconstruction/data/
**/*.obj
**/*.pt
3d_reconstruction/**/*.png
3d_reconstruction/training/checkpoints/
**/logs/
**/*.sbatch
!3d_reconstruction/viz_and_tests/plot_voxel_activity_ee_speed.sbatch
**/*.sif
**/*.def
3d_reconstruction/training/results
3d_reconstruction/training/debug
3d_reconstruction/training/architecture
